## Структура базы данных и ее нормализация

### Первая нормальная форма (1NF):

* Поле address потенциально можно было бы разбить на две колонки (build_num и street_name). Однако в большинстве случаев адрес рассматривается как атомарное поле (единый объект), который вводится, выводится и используется в неизменном виде. Поэтому дополнительное разбиение не является обязательным.

### Вторая нормальная форма (2NF):

* Чтобы соответствовать 2NF, таблицы должны быть разделены так, чтобы все неключевые атрибуты зависели только от первичного ключа.
Выделены отдельные таблицы:
__transactions__ (первичный ключ: transaction_id)
__products__ (первичный ключ: product_id)
__clients__ (первичный ключ: customer_id)
__address__ (первичный ключ: address_id)
Важно отметить, что product_id не является уникальным идентификатором для всех характеристик продукта (у одного product_id могут быть разные бренды и классы). Можно либо использовать составной ключ (например, product_id + brand), либо добавить новый уникальный идентификатор.
Однако для упрощения примем, что product_id является уникальным в рамках задания.

### Третья нормальная форма (3NF):

В 3NF не должно быть атрибутов, которые зависят не от ключа, а от других неключевых атрибутов.
Можно вынести в отдельные справочные таблицы признаки, которые имеют фиксированное количество значений:
wealth_segments
job_industry_categories
brands
product_lines
product_classes
product_sizes
postcodes
states
countries
Если возможные значения признака ограничены тремя вариантами или менее, то вместо вынесения в отдельную таблицу достаточно добавить CHECK-ограничение.

## Отрисовка структуры в https://dbdiagram.io/

![Схема базы данных](https://raw.githubusercontent.com/ElinaPan/mfpi_elina/main/Diagram.png)

## Создание таблиц в DBeaver

create table transactions (
transaction_id smallint primary key
, customer_id smallint not null
, transaction_date date not null
, online_order bool not null
, order_status varchar(20) check (order_status in ('approved', 'cancelled'))
, product_id smallint not null)


create table products (
  product_id smallint PRIMARY KEY,
  brand varchar(30) NOT NULL,
  product_line varchar(20) CHECK (product_line IN ('mountain', 'road', 'standard', 'touring')),
  product_class varchar(10) CHECK (product_class IN ('high', 'low', 'medium')),
  product_size varchar(10) CHECK (product_size IN ('large', 'medium', 'small')),
  list_price float NULL,
  standard_cost float NOT NULL
);

create table clients(
customer_id smallint primary key
, first_name text not null
, last_name text not null
, gender varchar(10) check (gender in ('Male', 'Female'))
, DOB date
, job_title text
, job_industry_category text
, wealth_segment varchar(50) check (wealth_segment in ('High net worth', 'Affluent customer', 'Mass customer'))
, deceased_indicator boolean not null
, owns_car boolean not null
, address_id smallint not null
, property_valuation smallint not null)

create table address(
address_id smallint primary key
, address text not null
, postcode int not null
, state varchar (30)
, country varchar (30) default 'Australia'
)

create table job_industry_category(
job_industry_category text primary key)

create table postcode(
postcode smallint primary key)

create table brand (
brand text primary key)

## Загрузка данных в таблицы

insert into address
values
(1, '123 Main St', 1001, 'New South Wales', 'Australia'),
(2, '456 Elm St', 2002, 'Victoria', 'Australia'),
(3, '789 Oak St', 3003, 'Queensland', 'Australia');

insert into brand
values
('Solex'),
('Trek Bicycles'),
('OHM Cycles')

insert into clients 
values
(1,	'Laraine',	'Medendorp', 'Female',	'1953-10-12', 'Executive Secretary',	'Health',	'Mass customer', false,	true,	1, 10)
(2,	'Eli', 'Bockman', 'Male', '1980-12-16',	'Administrative Officer',	'Financial Services', 'Mass customer', false, true, 2, 10), 
(3,	'Arlin', 'Dearle', 'Male', '1954-01-20', 'Recruiting Manager', 'Property', 'Mass customer', false, true, 3,	9)

insert into job_industry_category 
values 
('Health'),
('Financial Services'),
('Property')

insert into postcode 
values
(2016),
(2153),
(4211)

insert into products 
values
(2, 'Solex', 'touring', 'medium', 'medium', 71.49, 53.62),
(3, 'Trek Bicycles', 'road', 'medium', 'large', 2091.47, 388.92),
(37, 'OHM Cycles', 'mountain', 'low', 'small', 1793.43, 248.82);

insert into transactions
values
(1, 2,	'2017-02-25', FALSE, 'approved', 2950),	
(2, 3, 	'2017-05-21', TRUE, 'approved', 3120),	
(3, 37,	'2017-10-16', FALSE, 'approved', 402)